.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name masa
      = link_to "#", class: "side-bar__user-name__top-items__icons" do
        = icon('far', 'edit', class: 'edit')
        = icon('fas', 'cog', class: 'cog')
  
  .side-bar__group-list
    .side-bar__group-list__main
      .side-bar__group-list__main__name techcamp
      .side-bar__group-list__main__message まだメッセージがありません
    